In [10]:
import requests
import json
import pandas as pd

In [118]:
person = []
for i in range(1,83):
    p = requests.get("https://swapi.dev/api/people/{}".format(i)).json()
    person.append(p)

In [12]:
df = pd.json_normalize(person)

In [122]:
df.sample(5)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url,detail
67,Bail Prestor Organa,191,unknown,black,tan,brown,67BBY,male,http://swapi.dev/api/planets/2/,"[http://swapi.dev/api/films/5/, http://swapi.d...",[http://swapi.dev/api/species/1/],[],[],2014-12-20T16:53:08.575000Z,2014-12-20T21:17:50.463000Z,http://swapi.dev/api/people/68/,NaN
47,Dud Bolt,94,45,none,"blue, grey",yellow,unknown,male,http://swapi.dev/api/planets/39/,[http://swapi.dev/api/films/4/],[http://swapi.dev/api/species/17/],[],[],2014-12-20T09:57:31.858000Z,2014-12-20T21:17:50.414000Z,http://swapi.dev/api/people/48/,NaN
33,Finis Valorum,170,unknown,blond,fair,blue,91BBY,male,http://swapi.dev/api/planets/9/,[http://swapi.dev/api/films/4/],[],[],[],2014-12-19T17:21:45.915000Z,2014-12-20T21:17:50.379000Z,http://swapi.dev/api/people/34/,NaN
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,http://swapi.dev/api/planets/8/,"[http://swapi.dev/api/films/1/, http://swapi.d...",[http://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,http://swapi.dev/api/people/3/,NaN
14,Greedo,173,74,n/a,green,black,44BBY,male,http://swapi.dev/api/planets/23/,[http://swapi.dev/api/films/1/],[http://swapi.dev/api/species/4/],[],[],2014-12-10T17:03:30.334000Z,2014-12-20T21:17:50.336000Z,http://swapi.dev/api/people/15/,NaN

In [16]:
df['birth_year'].unique()

array(['19BBY', '112BBY', '33BBY', '41.9BBY', '52BBY', '47BBY', 'unknown',
       '24BBY', '57BBY', '64BBY', '200BBY', '29BBY', '44BBY', '600BBY',
       nan, '21BBY', '896BBY', '82BBY', '31.5BBY', '15BBY', '53BBY',
       '31BBY', '37BBY', '41BBY', '48BBY', '8BBY', '92BBY', '91BBY',
       '46BBY', '62BBY', '72BBY', '54BBY', '22BBY', '58BBY', '40BBY',
       '102BBY', '67BBY', '66BBY'], dtype=object)

In [59]:
(
    df['birth_year'].str.
    extract('(\d+)').
    iloc[:,0].
    astype('float').
    sort_values(ascending = False).
    head(5)
)

19    896.0
15    600.0
12    200.0
1     112.0
66    102.0
Name: 0, dtype: float64

In [125]:
df.iloc[19,:]

name                                                       Yoda
height                                                       66
mass                                                         17
hair_color                                                white
skin_color                                                green
eye_color                                                 brown
birth_year                                               896BBY
gender                                                     male
homeworld                      http://swapi.dev/api/planets/28/
films         [http://swapi.dev/api/films/2/, http://swapi.d...
species                       [http://swapi.dev/api/species/6/]
vehicles                                                     []
starships                                                    []
created                             2014-12-15T12:26:01.042000Z
edited                              2014-12-20T21:17:50.345000Z
url                             http://swapi.dev/api/people/20/
detail                                                      NaN
Name: 19, dtype: object

In [119]:
def get_title(d):
    urls = d['films']
    title = [requests.get(url).json() for url in urls]
    d['films']  = title
    return d

In [120]:
films = get_title(person[19])
[x['title'] for x in films['films']]

['The Empire Strikes Back',
 'Return of the Jedi',
 'The Phantom Menace',
 'Attack of the Clones',
 'Revenge of the Sith']